<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>PC Builder</title>
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        {% include "header/header.html" %}

        <!-- Контент -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        {% include "footer/footer.html" %}
    </div>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    {% block scripts %}{% endblock %}
    
</body>

</html>